$primaryColor: #2890FF;
// $backgroundColor: linear-gradient(90deg, #FC500F, #0E0E0E 40%, #202020);
$secondaryColor: #fff;
$headerHeight: 50px;
$barBtnWidth: 45px;
$barBtnHeight: 30px;
$barsBorder: 2px;
$barsBorderRadius: 1px;
$barTwoTop: 8px;
$barThreeTop: 16px;
$barLeft: 6px;
$barRight: 6px;
$btnSpeedTransition: 50ms;
// $titleSize: 10vh;
$titleMargin: 5em;
$paddingDefault: 2.5em 0;
$aroundBoxSize: 1em;

$screen-tn-min: 366px;

//smaller tables and smartphones
$screen-smr-min: 555px;

// small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// small tablets (portrait view)
$screen-md-min: 768px;

// tablets and small desktops
$screen-lg-min: 992px;

// large tablets and desktops
$screen-xl-min: 1200px;
