#inicial {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: repeat;
    background-size: 400px 400px, contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include sm {
        background-attachment: scroll;
        background-size: cover;
    }

    @include md {
        background-attachment: scroll;
        background-size: cover;
    }
}

.home {
    width: 65%;
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    @include tn {
        width: 100%;
        height: 100vh;
        @include flexcenter;
        @include pad-g;

        div {
            margin: 0;
        }
    }

    @include sr {
        width: 100%;
        height: 100vh;
        @include flexcenter;
        @include pad-g;

        div {
            margin: 0;
        }
    }

    @include sm {
        width: 100%;
        height: 100vh;
        @include flexcenter;
        @include pad-g;

        div {
            margin: 0;
        }
    }

    @include md {
        @include center_column_align;
        @include pad-g;

        div {
            margin: 0;
        }
    }

    @include lg {
        @include center_column_align;
        @include pad-g;

        div {
            margin: 0;
        }
    }

    @include xl {
        width: 100%;
        height: 100vh;
        @include center_column_align;
        @include pad-g;

        div {
            margin: 0;
        }
    }

    .color-txt {
        color: $primaryColor;
    }

    .home-title {
        width: 100%;
        height: 4em;
        // font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        @include flexcenter;
        text-align: center;

        div,
        span {
            font-size: 18px;
            font-weight: 800;
            text-transform: uppercase;
            display: block;
            margin: 5px;
        }
    }

    .hello {
        font-size: 18px;
        @include flexcenter;
    }

    .home-resume {
        font-size: 18px;
    }

    mark.color-txt {
        background: none;
    }

    .home-phrase {
        text-align: center;
    }

    .main-buttons {
        height: 5em;
        @include flexcenter;

        a {
            border: none;
            color: #fff;
            padding: 6px;
            box-sizing: border-box;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            text-decoration: none;
            margin: 0 9px;
            font-family: 'Palanquin Dark', sans-serif;

            .icon {
                background: $primaryColor;
                padding: 10px;
                border-radius: 100px;
                @include flexcenter;
                cursor: pointer;

                img {
                    width: 20px;
                    filter: invert(1);
                }
            }
        }
    }

    .inicial-footer {
        width: 100%;
        height: 10vh;
        @include space_between;

        img {
            margin: 1em;
            width: 20px;
            filter: invert(1);
        }

        @include tn {
            img {
                width: 17px;
                margin: 0.7em;
            }
        }
    }

    .inicial-update {
        font-weight: 400;
        margin: 20px;
        @include center_column_align;
        @include uppercase;

        .changed {
            font-size: 16px;
        }

        .date {
            font-size: 13px;
        }

        @include tn {
            margin: 0.7em;

            .changed {
                font-size: 14px;
            }

            .date {
                font-size: 12px;
            }
        }
    }
}

.icons {
    @include flexcenter;

    img {
        width: 30px;
    }
}
