//  @media only screen and (min-width: 360px) and (max-width: 767px){
// }
//  and (max-width: 767)

@media only screen and (min-width: 200px) and (max-width: 599px) {

  // .profile {}

  .profile_body {
    width: 100%;
    padding: 10px 10px 2em 10px;
  }

  .profile_body__img {
    width: 35%;
    margin: 20px auto;
  }

  .about_body__title-text {
    font-size: 1.5em;
    width: 100%;
    height: 10vh;
  }

  .profile_body__description {
    width: 100%;
  }

  .about_body__boxes {
    flex-direction: column;
  }

  .boxes__text {
    margin: 20px;
    width: 95%;
    text-align: center;
  }

  .university__qualification {
    width: 100%;
    flex-direction: column;
  }

  .about_university-text {
    font-size: 1.5em;
  }

  .university__image {
    width: 90%;
  }

  .qualification__description {
    margin: 2em;
    width: 95%;
  }

  .tecnologies__title-text {
    font-size: 1.5em;
    text-align: center;
  }

  .about_body__tecnologies_used {
    flex-direction: column;
    align-items: center;
  }

  .tecnologies_used__item {
    margin: 15px 0;
    width: 80%;

    /* border: 1px solid red; */
  }

  .workflow-title-text {
    font-size: 1.5em;
    text-align: center;
  }

  // .media__list {
  // }

  .media__list-item {
    width: 150px;
    height: 150px;
    flex-flow: column-reverse wrap;
    margin: 20px;
  }

  .media__list-item:hover {
    transform: scale(1);
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  // .profile {
  //   border: 1px solid red
  // }

  .profile_body {
    width: 85%;
  }

  .profile_body__img {
    width: 45%;
  }

  .about_body__title-text {
    font-size: 1.7em;
    width: 100%;
    height: 10vh;
  }

  .profile_body__description {
    width: 100%;
  }

  .boxes__text {
    width: 100%;
    margin: 0 10px;
  }

  .qualification__description {
    width: 80%;
    margin: 2em;
    // width: 95%;
  }

  .university__qualification {
    width: 100%;
    flex-direction: column;
  }

  .about_body__tecnologies_used {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tecnologies_used__item {
    width: 70%;
  }

  .about_university-text {
    font-size: 1.5em;
  }

  .university__image {
    margin-top: 30px;
    width: 65%;
  }

  .media__list {
    width: 100%;
  }

  .media__list-item {
    width: 120px;
    height: 120px;
  }
}

/* and (max-width: 991) */

/* and (max-width: 1382px) */

/* and (max-width: 767) */

@media screen and (min-width: 160px) and (max-width: 768px) {
  .navbar {
    width: 100%;
    display: block;
  }

  .bars {
    opacity: 1;
    width: 100%;
    height: calc(100% - 50px);
    transition: all 500ms ease-in;
  }

  .bars__list {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .list__item {

    // display: block;
    cursor: pointer;
    margin: 3em 0;
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 3px;
  }

  .list__item:active {
    background: #1fbbff;
  }

  .item__link {
    width: 100%;
    height: 100px;
    color: black !important;
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    /* color: $secondary-color;
    */
    text-transform: capitalize;
  }

  .in-nav {
    margin-right: 22px !important;
    color: white;
    filter: invert(0%) !important;
  }
}

@media screen and (min-width: 767px) {
  .navbar {
    display: none;
  }

  #hamburguer {
    display: none;
  }

  .bars {
    width: 90%;
  }

  .bars__list {
    width: 100%;
    height: $headerHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list__item {
    width: 160px;
    color: black;
    height: $headerHeight;
    @include full_center;
  
  }

  .item__link {
    font-size: 0.9em;
    color: red;
    text-transform: capitalize;
    height: 50px;
    border-top: 5px solid transparent;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    @include full_center;

    &:hover {
      border-top: 5px solid $primaryColor;
      transition: all 400ms ease-in-out;
    }
  }

  .icon_title {
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

  // .profile {
  //   border: 1px solid yellow;
  // }

  .profile_body {
    width: 90%;

    /* border: 1px solid red; */
  }

  .profile_body__img {
    width: 30%;
  }

  .profile_body__description {
    margin: 5px auto 0 auto;
    padding: 0;
    text-align: justify;
    width: 100%;
  }

  .about_body__boxes {
    width: 95%;
    padding: 0;

    /* justify-content: space-around; */
    flex-direction: row;
  }

  .about_body__title {
    margin: 0;
  }

  .boxes__text {
    width: 60%;
    margin: 0 20px;
  }

  .university__qualification {
    flex-direction: column;
    width: 100%;
    justify-content: space-between;

    p {
      margin: 20px;
    }
  }

  .qualification__description {
    width: 65%;
  }

  .university__image {
    margin: 0 0 20px 0;
    width: 50%;
  }

  .about_body__tecnologies {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .about_body__tecnologies_used {

    //border: 1px solid red;
    justify-content: center;
    align-items: center;

    // border: 1px solid white;
  }

  .tecnologies_used__item {
    width: 65%;
    margin: 0 auto;
  }
}
