.portfolio {
  width: 100%;
  @include flexcenter;
  flex-direction: column;

  h3 {
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }
  
}

#buttons {
  @include flexcenter;
  width: 60%;
  margin: 20px auto;

  button {
    color: $secondaryColor;
    border: 1px solid $primaryColor;
    background-color: transparent;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 5px;
    font-size: 13px;
  }
}

.objects {
  @include flexcenter;
  flex-flow: wrap column;
  width: 100%;

  @include lg {
    width: 86%;
    justify-content: space-around;
    flex-flow: column nowrap;
  }

  @include xl {
    width: 100%;
    @include flexcenter;
    flex-flow: row wrap;
  }
}

.item {
  display: none;
}

.show {
  @include flexcenter;
  flex-flow: column nowrap;
  width: 100%;
  padding: 2px;
  margin: 20px;
  background-color: #f1f1f1;
  color: #000;

  img {
    width: 100%;
  }

  @include sr {
    width: 80%;
  }

  @include sm {
    width: 70%;
  }

  @include md {
    width: 60%;
  }

  @include lg {
    width: 40%;
  }

  @include xl {
    max-width: 370px;
  }
}
