html,
body,
header,
section,
p,
main,
h1,
h2,
h3,
h4,
img,
span,
nav,
footer,
button,
a,
li,
ul,
div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

.flex_container {
  width: 100%;
  color: #fff;
  font-family: "Noto Sans TC", sans-serif;
  background-color: #1B1B1B;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* font-family: 'Noto Sans TC', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
header {
  width: 100%;
  height: 50px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header:link {
  color: white;
  text-decoration: none;
}

header:active {
  color: white;
}

header:visited {
  color: white;
}

header a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

@media (min-width: 366px) and (max-width: 555px) {
  header {
    border: 1px solid orangered;
    background: transparent;
  }
}

.navbar {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 366px) {
  .navbar {
    border: 1px solid red;
    width: 100%;
  }
}

@media (min-width: 366px) and (max-width: 555px) {
  .navbar {
    border: 1px solid orangered;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

@media (min-width: 555px) and (max-width: 768px) {
  .navbar {
    border: 1px solid royalblue;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .navbar {
    width: 100%;
    border: 1px solid greenyellow;
  }
}

.navbar__logo {
  color: #fff;
  text-transform: capitalize;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 1.2em;
  margin: 7px;
}

.navbar__logo:link {
  color: #fff;
  text-decoration: none;
}

.navbar__logo:active {
  color: #1fbbff;
}

@media (max-width: 366px) {
  .navbar__logo {
    border: 1px solid red;
    display: none;
  }
}

@media (min-width: 366px) and (max-width: 555px) {
  .navbar__logo {
    border: 1px solid orangered;
    display: none;
  }
}

#menu {
  width: 45px;
  height: 30px;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 366px) and (max-width: 555px) {
  #menu {
    border: 1px solid orangered;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(0.7);
    border-radius: 3px;
    z-index: 999;
  }
}

.barsRolloff {
  width: 45px;
  height: 30px;
  position: relative;
  transition: all 50ms ease-out;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
  top: 0;
}

.barsRolloff span:nth-child(1),
.barsRolloff span:nth-child(2),
.barsRolloff span:nth-child(3) {
  width: 45px;
  border: 2px solid white;
  border-radius: 1px;
  display: block;
  position: relative;
  transition: all 50ms ease-in;
}

.one {
  top: 0;
  left: 0;
  right: 0;
}

.two {
  top: 8px;
  left: 0;
  right: 0;
}

.three {
  top: 16px;
  left: 0;
  right: 0;
}

.barsRollon {
  width: 45px;
  height: 30px;
  position: relative;
  transition: all 50ms ease-out;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
  top: 8px;
  z-index: 999999;
}

.barsRollon span:nth-child(1),
.barsRollon span:nth-child(2),
.barsRollon span:nth-child(3) {
  width: 100%;
  border: 2px solid white;
  border-radius: 1px;
  display: block;
  position: relative;
  transition: all 50ms ease-in;
}

.barsRollon .one {
  top: 5px;
  transform: rotateZ(44deg);
}

.barsRollon .two {
  opacity: 0;
  transition: all 50ms ease-out;
}

.barsRollon .three {
  top: -3px;
  transform: rotateZ(-44deg);
}

#full_menu {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  padding: 2em;
  box-sizing: border-box;
  background: #1a1a1a;
  color: #fff;
  -webkit-transition: all 200ms cubic-bezier(0.3, -0.3, 0.265, 1.1);
  -moz-transition: all 200ms cubic-bezier(0.3, -0.3, 0.265, 1.1);
  -ms-transition: all 200ms cubic-bezier(0.3, -0.3, 0.265, 1.1);
  -o-transition: all 200ms cubic-bezier(0.3, -0.3, 0.265, 1.1);
  transition: all 200ms linear;
}

#full_menu h1 {
  font-size: 150%;
  margin: 0.25em 0;
}

#full_menu ul {
  list-style: none;
  margin: 20px 0 20px 0;
  padding: 0;
}

#full_menu ul li {
  cursor: pointer;
  margin: 2em 0;
  perspective: 800px;
  transition: all 100ms linear;
}

#full_menu ul li:hover {
  background: rgba(0, 0, 0, 0.3);
  transition: all 100ms linear;
}

#full_menu ul li:active {
  background: #1b488c;
  transition: all 100ms linear;
}

#full_menu ul a {
  padding: 10px 30px;
  font-size: 1.2em;
  display: block;
  width: 100%;
  border: 1px solid #5e5e5e;
}

.menu-off {
  left: -140%;
}

.menu-off ~ .spacer {
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 366px) {
  .menu-off {
    border: 1px solid red;
  }
  .menu-off ~ .spacer {
    left: -50%;
  }
}

.menu-on {
  left: 0;
}

.menu-on ~ .spacer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}

@media (min-width: 366px) and (max-width: 555px) {
  .menu-on {
    border: 1px solid orangered;
  }
  .menu-on ~ .spacer {
    width: 150vh;
  }
}

@media (max-width: 366px) {
  .progress-container {
    border: 1px solid red;
    display: none;
  }
}

@media (min-width: 366px) and (max-width: 555px) {
  .progress-container {
    border: 1px solid orangered;
    display: none;
  }
}

@media (min-width: 555px) and (max-width: 768px) {
  .progress-container {
    border: 1px solid royalblue;
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .progress-container {
    width: 100%;
    display: inline;
    background: transparent;
    position: absolute;
    top: 50px;
    border: 1px solid greenyellow;
  }
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 1em;
  background: #0b6bae;
  width: 0%;
}

@media (max-width: 366px) {
  .progress-bar {
    border: 1px solid red;
    display: none;
  }
}

@media (min-width: 366px) and (max-width: 555px) {
  .progress-bar {
    border: 1px solid orangered;
    display: none;
  }
}

@media (min-width: 555px) and (max-width: 768px) {
  .progress-bar {
    border: 1px solid royalblue;
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .progress-bar {
    display: none;
    border: 1px solid greenyellow;
  }
}

#inicial {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/vincent-ledvina-LaUJjgnUZMQ-unsplashl.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 366px) {
  #inicial {
    border: 1px solid red;
    height: 100vh;
    background-attachment: inherit;
    background-size: cover;
  }
}

@media (min-width: 366px) and (max-width: 555px) {
  #inicial {
    border: 1px solid orangered;
    height: 100vh;
    background-attachment: scroll;
    background-size: cover;
  }
}

@media (min-width: 555px) and (max-width: 768px) {
  #inicial {
    border: 1px solid royalblue;
    height: 100vh;
    background-attachment: scroll;
    background-size: cover;
  }
}

.home {
  width: 65%;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

@media (max-width: 366px) {
  .home {
    border: 1px solid red;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
  }
  .home div {
    margin: 0;
  }
}

@media (min-width: 366px) and (max-width: 555px) {
  .home {
    border: 1px solid orangered;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .home div {
    text-align: center;
  }
}

@media (min-width: 555px) and (max-width: 768px) {
  .home {
    border: 1px solid royalblue;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .home div {
    text-align: center;
  }
}

.home-title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 35px;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 366px) {
  .home-title {
    border: 1px solid red;
    width: 100%;
    font-size: 25px;
    text-align: center;
  }
}

@media (min-width: 366px) and (max-width: 555px) {
  .home-title {
    border: 1px solid orangered;
    width: 100%;
    font-size: 20px;
  }
}

@media (min-width: 555px) and (max-width: 768px) {
  .home-title {
    border: 1px solid royalblue;
    width: 100%;
    font-size: 20px;
  }
}

.home-livin {
  font-size: 11px;
  display: flex;
  align-self: flex-end;
  color: #bbbbbb;
  text-transform: uppercase;
}

@media (max-width: 366px) {
  .home-livin {
    border: 1px solid red;
    width: 100%;
    font-size: 10px;
  }
}

@media (min-width: 366px) and (max-width: 555px) {
  .home-livin {
    border: 1px solid orangered;
    width: 100%;
    font-size: 11px;
    display: block;
    margin: 0;
  }
}

@media (min-width: 555px) and (max-width: 768px) {
  .home-livin {
    border: 1px solid royalblue;
    width: 100%;
    font-size: 11px;
    display: block;
    margin: 0;
  }
}

.home-resume {
  color: #d5d5d5;
  width: 340px;
  text-align: justify;
  font-size: 13px;
}

@media (max-width: 366px) {
  .home-resume {
    border: 1px solid red;
    width: 100%;
    font-size: 14px;
  }
}

@media (min-width: 366px) and (max-width: 555px) {
  .home-resume {
    border: 1px solid orangered;
    width: 80%;
    font-size: 1em;
  }
}

@media (min-width: 555px) and (max-width: 768px) {
  .home-resume {
    border: 1px solid royalblue;
    width: 80%;
    font-size: 1em;
  }
}

.home-button {
  background: #ff4e06;
  border: none;
  color: #fff;
  margin-top: 12px;
  padding: 5px 21px;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin: 45px 0 0 0;
  font-family: "Palanquin Dark", sans-serif;
}

.home-button img {
  width: 12px;
  margin: 0 0 0 9px;
  filter: invert(1);
}

@media (max-width: 366px) {
  .home-button {
    border: 1px solid red;
  }
}

.inicial-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inicial-footer img {
  margin: 1em;
  width: 20px;
  filter: invert(1);
}

@media (max-width: 366px) {
  .inicial-footer {
    border: 1px solid red;
  }
  .inicial-footer img {
    width: 17px;
    margin: 0.7em;
  }
}

.inicial-update {
  font-weight: 400;
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
}

.inicial-update .changed {
  font-size: 16px;
}

.inicial-update .date {
  font-size: 13px;
}

@media (max-width: 366px) {
  .inicial-update {
    border: 1px solid red;
    margin: 0.7em;
  }
  .inicial-update .changed {
    font-size: 14px;
  }
  .inicial-update .date {
    font-size: 12px;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: start;
}

@media (max-width: 366px) {
  .profile {
    border: 1px solid red;
  }
}

@media (min-width: 366px) and (max-width: 555px) {
  .profile {
    border: 1px solid orangered;
  }
}

@media (min-width: 555px) and (max-width: 768px) {
  .profile {
    border: 1px solid royalblue;
    border: 1px solid orchid;
  }
}

.profile_body {
  margin-top: 10px;
  padding: 3em 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
}

@media (max-width: 366px) {
  .profile_body p {
    border: 1px solid red;
    padding: 0 10px;
  }
}

@media (min-width: 366px) and (max-width: 555px) {
  .profile_body p {
    border: 1px solid orangered;
    padding: 0 10px;
  }
}

@media (min-width: 555px) and (max-width: 768px) {
  .profile_body p {
    border: 1px solid royalblue;
    padding: 0 10px;
  }
}

.profile_body__img {
  border: 3px solid #e6e6e6;
  display: block;
  border-radius: 100%;
  width: 45%;
}

@media (max-width: 366px) {
  .profile_body__img {
    border: 1px solid red;
    width: 50%;
    margin: 2em auto 0 auto;
  }
}

@media (min-width: 366px) and (max-width: 555px) {
  .profile_body__img {
    border: 1px solid orangered;
    width: 34%;
  }
}

@media (min-width: 555px) and (max-width: 768px) {
  .profile_body__img {
    border: 1px solid royalblue;
    width: 34%;
  }
}

.name {
  font-size: 1.2em;
}

.profession {
  font-size: 0.8em;
}

.profession * {
  color: #b3b3b3;
}

.mini_about {
  border: 1px solid red;
  list-style-type: square;
  margin: 0;
}

.mini_about li {
  font-size: 0.9em;
  margin: 20px 0;
}

.color_highlight {
  text-transform: capitalize;
  color: #fff;
  font-weight: 300;
  padding: 0 5px;
}

.about {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
}

@media (min-width: 366px) and (max-width: 555px) {
  .about h2 {
    border: 1px solid orangered;
    font-size: 2em;
  }
}

.about-resume {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

@media (max-width: 366px) {
  .about-resume {
    border: 1px solid red;
    margin: 20px;
  }
}

@media (min-width: 366px) and (max-width: 555px) {
  .about-resume {
    border: 1px solid orangered;
    margin: 20px;
  }
}

@media (min-width: 555px) and (max-width: 768px) {
  .about-resume {
    border: 1px solid royalblue;
    margin: 20px;
  }
}

.about-box {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row nowrap;
}

@media (max-width: 366px) {
  .about-box {
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
}

@media (min-width: 366px) and (max-width: 555px) {
  .about-box {
    border: 1px solid orangered;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
}

@media (min-width: 555px) and (max-width: 768px) {
  .about-box {
    border: 1px solid royalblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
}

.img-side {
  width: 40%;
}

.img-side img {
  width: 100%;
  border-radius: 3px;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.3);
}

@media (max-width: 366px) {
  .img-side {
    border: 1px solid red;
    width: 80%;
  }
}

@media (min-width: 366px) and (max-width: 555px) {
  .img-side {
    border: 1px solid orangered;
    width: 80%;
  }
}

@media (min-width: 555px) and (max-width: 768px) {
  .img-side {
    border: 1px solid royalblue;
    width: 80%;
  }
}

.text-side {
  width: 40%;
}

.text-side h1 {
  font-size: 2em;
}

.text-side img {
  width: 40px;
}

@media (max-width: 366px) {
  .text-side {
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .text-side h1 {
    font-size: 1.5em;
  }
  .text-side p {
    width: 80%;
    text-align: justify;
    border: 1px solid blue;
  }
}

@media (min-width: 366px) and (max-width: 555px) {
  .text-side {
    border: 1px solid orangered;
    width: 80%;
  }
  .text-side h1 {
    width: 100%;
    font-size: 1.5em;
  }
}

@media (min-width: 555px) and (max-width: 768px) {
  .text-side {
    border: 1px solid royalblue;
    width: 80%;
  }
  .text-side h1 {
    width: 100%;
    font-size: 1.5em;
  }
}

.images {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.images img {
  margin: 0;
}

@media (max-width: 366px) {
  .images {
    border: 1px solid red;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
  }
  .images img {
    width: 40px;
  }
}

@media (min-width: 366px) and (max-width: 555px) {
  .images {
    border: 1px solid orangered;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
  }
  .images img {
    width: 40px;
  }
}

@media (min-width: 555px) and (max-width: 768px) {
  .images {
    border: 1px solid royalblue;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
  }
  .images img {
    width: 40px;
  }
}

.inverted {
  filter: invert(100);
}

.workflow {
  width: 100%;
  height: 100vh;
  padding: 2.5em 0;
  background: transparent;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 2.3em;
  font-weight: bold;
  text-align: center;
}

.media_cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media__list {
  width: 100%;
  flex-direction: column;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap row;
}

.media__list_item {
  background-color: #fff;
  transition: all 250ms ease;
}

.media__list_item:hover {
  transform: scale(1.3);
}

@media (max-width: 366px) {
  .media__list_item {
    border: 1px solid red;
    background: transparent;
    height: auto;
    width: 44%;
    margin: 10px 0;
    border-radius: 2px;
  }
  .media__list_item:hover {
    transform: scale(1);
  }
  .media__list_item img {
    width: 100%;
    border-radius: 2px;
  }
}

@media (min-width: 366px) and (max-width: 555px) {
  .media__list_item {
    border: 1px solid orangered;
    background: transparent;
    height: auto;
    width: 100%;
    margin: 20px 0;
    border-radius: 2px;
  }
  .media__list_item:hover {
    transform: scale(1);
  }
  .media__list_item img {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
  }
}

@media (min-width: 555px) and (max-width: 768px) {
  .media__list_item {
    border: 1px solid royalblue;
    background: transparent;
    height: auto;
    width: 100%;
    margin: 20px 0;
    border-radius: 2px;
  }
  .media__list_item:hover {
    transform: scale(1);
  }
  .media__list_item img {
    width: 90%;
    border-radius: 15px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .media__list_item {
    background: transparent;
    height: auto;
    width: 35%;
    margin: 20px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    border: 1px solid greenyellow;
  }
  .media__list_item:hover {
    transform: scale(1.03);
  }
  .media__list_item img {
    width: 100%;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 599px) {
  .profile_body {
    width: 100%;
    padding: 10px 10px 2em 10px;
  }
  .profile_body__img {
    width: 35%;
    margin: 20px auto;
  }
  .about_body__title-text {
    font-size: 1.5em;
    width: 100%;
    height: 10vh;
  }
  .profile_body__description {
    width: 100%;
  }
  .about_body__boxes {
    flex-direction: column;
  }
  .boxes__text {
    margin: 20px;
    width: 95%;
    text-align: center;
  }
  .university__qualification {
    width: 100%;
    flex-direction: column;
  }
  .about_university-text {
    font-size: 1.5em;
  }
  .university__image {
    width: 90%;
  }
  .qualification__description {
    margin: 2em;
    width: 95%;
  }
  .tecnologies__title-text {
    font-size: 1.5em;
    text-align: center;
  }
  .about_body__tecnologies_used {
    flex-direction: column;
    align-items: center;
  }
  .tecnologies_used__item {
    margin: 15px 0;
    width: 80%;
    /* border: 1px solid red; */
  }
  .workflow-title-text {
    font-size: 1.5em;
    text-align: center;
  }
  .media__list-item {
    width: 150px;
    height: 150px;
    flex-flow: column-reverse wrap;
    margin: 20px;
  }
  .media__list-item:hover {
    transform: scale(1);
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .profile_body {
    width: 85%;
  }
  .profile_body__img {
    width: 45%;
  }
  .about_body__title-text {
    font-size: 1.7em;
    width: 100%;
    height: 10vh;
  }
  .profile_body__description {
    width: 100%;
  }
  .boxes__text {
    width: 100%;
    margin: 0 10px;
  }
  .qualification__description {
    width: 80%;
    margin: 2em;
  }
  .university__qualification {
    width: 100%;
    flex-direction: column;
  }
  .about_body__tecnologies_used {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tecnologies_used__item {
    width: 70%;
  }
  .about_university-text {
    font-size: 1.5em;
  }
  .university__image {
    margin-top: 30px;
    width: 65%;
  }
  .media__list {
    width: 100%;
  }
  .media__list-item {
    width: 120px;
    height: 120px;
  }
}

/* and (max-width: 991) */
/* and (max-width: 1382px) */
/* and (max-width: 767) */
@media screen and (min-width: 160px) and (max-width: 768px) {
  .navbar {
    width: 100%;
    display: block;
  }
  .bars {
    opacity: 1;
    width: 100%;
    height: calc(100% - 50px);
    transition: all 500ms ease-in;
  }
  .bars__list {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .list__item {
    cursor: pointer;
    margin: 3em 0;
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 3px;
  }
  .list__item:active {
    background: #1fbbff;
  }
  .item__link {
    width: 100%;
    height: 100px;
    color: black !important;
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: $secondary-color;
    */
    text-transform: capitalize;
  }
  .in-nav {
    margin-right: 22px !important;
    color: white;
    filter: invert(0%) !important;
  }
}

@media screen and (min-width: 767px) {
  .navbar {
    display: none;
  }
  #hamburguer {
    display: none;
  }
  .bars {
    width: 90%;
  }
  .bars__list {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .list__item {
    width: 160px;
    color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item__link {
    font-size: 0.9em;
    color: red;
    text-transform: capitalize;
    height: 50px;
    border-top: 5px solid transparent;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item__link:hover {
    border-top: 5px solid #1b488c;
    transition: all 400ms ease-in-out;
  }
  .icon_title {
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .profile_body {
    width: 90%;
    /* border: 1px solid red; */
  }
  .profile_body__img {
    width: 30%;
  }
  .profile_body__description {
    margin: 5px auto 0 auto;
    padding: 0;
    text-align: justify;
    width: 100%;
  }
  .about_body__boxes {
    width: 95%;
    padding: 0;
    /* justify-content: space-around; */
    flex-direction: row;
  }
  .about_body__title {
    margin: 0;
  }
  .boxes__text {
    width: 60%;
    margin: 0 20px;
  }
  .university__qualification {
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
  .university__qualification p {
    margin: 20px;
  }
  .qualification__description {
    width: 65%;
  }
  .university__image {
    margin: 0 0 20px 0;
    width: 50%;
  }
  .about_body__tecnologies {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .about_body__tecnologies_used {
    justify-content: center;
    align-items: center;
  }
  .tecnologies_used__item {
    width: 65%;
    margin: 0 auto;
  }
}
